<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{MODULE_NAME}} 360Works fmPromise Module</title>
	<link rel="stylesheet" href="./style.css">
	<script type="module" src="./main.ts"></script>
</head>
<body>
<!-- BEGIN FMPROMISE SCAFFOLD CODE. You should replace this with your own content -->
<h1>{{MODULE_NAME}}</h1>
<p>Module Path: <code>{{MODULE_PATH}}</code></p>
<div id="app" style="padding: 1rem; border: 1px solid #dee2e6; border-radius: 0.5rem;">Loading...</div>
<!-- END FMPROMISE SCAFFOLD CODE. -->
</body>
</html>
